.compsWrapper {
  display: flex;
  background-color: rgb(101 92 92 / 67%);
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  .teamChampion {
    width: 40%;
    h6 {
      font-family: "Poppins", "Backup", "Verdana", "sans-serif";
      color: rgb(230, 230, 230);
      font-size: 14px;
      font-weight: 500;
    }
  }
  .championsList {
    display: flex;
    .championTooltipElement {
      display: flex;
      flex-direction: column;
      align-items: center;

      justify-content: center;
      margin: 3px;
      border-radius: 5px;
    }
    .championsList--Name {
      font-family: "Poppins, Backup, Verdana, Segoe UI, Roboto, Oxygen, -apple-system, BlinkMacSystemFont, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif";
      font-size: 9px;
      font-weight: 400;
    }
  }
  .compsQuantity {
    width: 40%;
    display: flex;
    justify-content: space-around;
    .compsQuantity-wrapper {
      display: flex;
    }
  }
  .carrier_champion {
    width: 20%;
    display: flex;
    .carrier_champion_element {
      margin: 5px;
    }
    justify-content: space-evenly;
  }
}
