.box-hover-component::after {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #222222 transparent transparent ;
}