.authen_navbar {
    .dropdown-item {
      font-size: 16px;
      margin: 0px;
      padding: 0px;
      background-color: rgb(39, 39, 40);
    }
  
    .navbar {
      background-color: rgb(34, 34, 34);
      color: rgb(230, 230, 230);
      height: 100%;
      display: block;
      padding-top: 0px;
      padding-bottom: 0px;
      margin: 0px auto !important;
    }
  
    .navbar-nav .nav-link:hover {
      color: rgb(230, 230, 230);
    }
  
    .logo-container {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      padding-top: 8px;
      font-weight: 700;
      font-family: sofia-pro, sans-serif;
    }
  
    #basic-navbar-nav {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  
    #basic-nav-dropdown {
      border-bottom: 0px solid rgb(203, 180, 108);
    }
  
    .nav-pills .nav-link {
      color: rgb(230, 230, 230);
      font-size: 16px;
      font-weight: 400;
      padding: 18px 15px 15px;
      height: 100%;
      border-radius: 0px;
      border-bottom: 3px solid rgb(34, 34, 34);
    }
  
    .nav-avatar .nav-link {
      color: rgb(230, 230, 230);
      font-size: 16px;
      font-weight: 400;
      padding: 18px 15px 15px;
      height: 100%;
      border-radius: 0px;
      border-bottom: 3px solid rgb(34, 34, 34);
    }
  
  
  
    .dropdown-menu {
      position: absolute;
      z-index: 100000;
      background-color: rgb(39, 39, 40);
      margin-top: 0px;
      padding: 0px;
      border-radius: 5px;
    }
  
    .LanguageSelect {
      position: relative;
      box-sizing: border-box;
    }
  
    .css-ubrold-control {
      -webkit-box-align: center;
      align-items: center;
      background-color: rgb(39, 39, 40);
      border-color: rgb(51, 51, 51);
      border-radius: 3px;
      border-style: solid;
      border-width: 1px;
      box-shadow: none;
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      justify-content: space-between;
      min-height: 30px;
      position: relative;
      transition: all 100ms ease 0s;
      box-sizing: border-box;
      padding: 0px;
      font-size: 12px;
      outline: 0px !important;
    }
  
    .css-17qfj6q {
      -webkit-box-align: center;
      align-items: center;
      display: grid;
      flex: 1 1 0%;
      flex-wrap: wrap;
      padding: 0px 0px 0px 2px;
      position: relative;
      overflow: hidden;
      box-sizing: border-box;
      background-color: rgb(39, 39, 40);
      border: none;
      color: rgb(207, 207, 207);
      cursor: pointer;
    }
  
    .css-1wy0on6 {
      -webkit-box-align: center;
      align-items: center;
      align-self: stretch;
      display: flex;
      flex-shrink: 0;
      box-sizing: border-box;
    }
  }
  